<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.scm.mapper.ScmPurchaseOrderMapper">

    <select id="sumMonthPurchaseAmount" resultType="java.math.BigDecimal">
        Select IFNULL(SUM(scm_purchase_order.total_amount),0)
        from scm_purchase_order
        WHERE status=2
        AND DATE_FORMAT(create_time,'%Y-%m') = DATE_FORMAT(NOW(), '%Y-%m')

    </select>
</mapper>
